* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Arial', sans-serif;
}

.app {
 background-color: #141414;
 color: #fff;
 min-height: 100vh;
 overflow-x: hidden; /* Remove o scroll lateral */
}

.header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 20px;
 background-color: #141414;
 position: fixed;
 width: 100%;
 z-index: 1;
}

.logo {
 width: 100px;
}

nav ul {
 display: flex;
 list-style: none;
}

nav ul li {
 margin: 0 20px;
 cursor: pointer;
}

.featured {
 position: relative;
 height: 70vh;
 background-color: black;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 60px; /* Adjust to avoid overlaying with header */
}

.featured-image {
 width: 100%;
 height: 100%;
 object-fit: cover;
 opacity: 0.6;
}

.featured-content {
 position: absolute;
 text-align: left;
 padding: 20px;
 max-width: 50%;
}

.featured-content .title {
 font-size: 3rem;
 margin-bottom: 10px;
}

.buttons {
 display: flex;
 gap: 10px;
}

.play-button, .info-button {
 padding: 10px 20px;
 border: none;
 cursor: pointer;
 font-size: 1rem;
 transition: background-color 0.3s;
}

.play-button {
 background-color: #e50914;
 color: #fff;
}

.info-button {
 background-color: #fff;
 color: #000;
}

.play-button:hover {
 background-color: #f40612;
}

.info-button:hover {
 background-color: #ddd;
}

.content {
 padding: 20px;
 margin-top: 30px; /* Adjusted margin to fit below the featured section */
}

.row {
 display: flex;
 flex-wrap: wrap; /* Permite quebra de linha para evitar scroll horizontal */
 gap: 20px; /* Espaçamento entre os itens */
 justify-content: space-around; /* Distribui os itens uniformemente */
}

.movie {
 background-color: #333;
 margin: 10px;
 padding: 10px;
 width: 200px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 border-radius: 10px;
 transition: transform 0.3s;
}

.movie img {
 width: 100%;
 border-radius: 10px;
 margin-bottom: 10px;
}

.movie p {
 margin-top: 5px;
}

.movie:hover {
 transform: scale(1.05);
}
